<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href=/libraries/index>Libraries</a></li>
        <li><a href="/staff_members/index">Staff</a></li>
        <li class="active"><a href="/books/index">Books</a></li>
        <li><a href="/patrons/index">Patrons</a></li>
      </ul>
    </div>
  </div>
</nav>

<% if @book.errors.any? %>
  <% @book.errors.full_messages.each do |m| %>
    <p> Error: <%=m%></p>
  <%end%>
<%end%>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="panel panel-default padding-10">
      <h1><%=@book.title%></h1>
      <p>Author: <%=@book.author%></p>
      <p>ISBN: <%=@book.isbn%></p>
      <p>Library: <%=@book.library.branch_name%></p>
      <p>Status: <%=@book.patron_id.nil? ? "Available" : "Checked out by #{@book.patron.name}"%><p>
      <a class="btn btn-default" href="/book/<%=@book.id%>/edit">Edit Book</a>
      <a class="btn btn-default" href="/book/<%=@book.id%>/<%=@book.patron_id.nil? ? 'checkout' : 'checkin'%>">
        <%=@book.patron_id.nil? ? "Check Out Book" : "Check In Book"%></a>
    </div>
  </div>
</div>
<hr>
<footer class="footer">
  <div class="row fixed-bottom">
    <div class="col-md-2 col-md-offset-2 text-center">
      <a href="/libraries/index">Libraries</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/staff_members/index">Staff Members</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/books/index">Books</a>
    </div>
    <div class="col-md-2 text-center">
      <a href="/patrons/index">Patrons</a>
    </div>
  </div>
</footer>
