a<h1><%=@book.title%></h1>
<p>Author: <%=@book.author%></p>
<p>ISBN: <%=@book.isbn%></p>
<p>Library: <%=@library.branch_name%></p>
<p><a href="/book/<%=@book.id%>/edit">Edit Book</a></p>
<p><a href="/books/index">Back to Books Index</a></p>
