<h1><%= @library.branch_name%> Staff Members</h1>

<ul>
  <% @staff_members.each do |sm| %>
    <li><a href="/staff_members/<%=sm.id%>"><%=sm.name%></li>
  <% end %>
</ul>

<p><a href="/libraries/<%=@library.id%>">Back to <%=@library.branch_name%></a></p>
