<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="/libraries">Libraries</a></li>
        <li><a href="/staff_members">Staff</a></li>
        <li><a href="/books">Books</a></li>
        <li class="active"><a href="/patrons">Patrons</a></li>
      </ul>
    </div>
  </div>
</nav>

<% if @patron.errors.any? %>
  <% @patron.errors.full_messages.each do |m| %>
    <p> Error: <%=m%></p>
  <%end%>
<%end%>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="panel panel-default padding-10">
      <h1><%=@patron.name%></h1>
      <p>Email: <%=@patron.email%></p>
      <p>Books: <%=@patron.books_display%><p>
      <a class="btn btn-default" href="/patrons/<%=@patron.id%>/edit">Edit Patron</a>
      <%if @patron.books_display != "None"%>
        <p><a class="btn btn-default" href="/patrons/<%=@patron.id%>/checkin">Return a Book</a></p>
      <%end%>
      <p><a class="btn btn-default" href="/patrons/<%=@patron.id%>/checkout">Check Out a Book</a></p>
    </div>
  </div>
</div>

<hr>
<footer class="footer">
<div class="row fixed-bottom">
  <div class="col-md-2 col-md-offset-2 text-center">
    <a href="/libraries">Libraries</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/staff_members">Staff Members</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/books">Books</a>
  </div>
  <div class="col-md-2 text-center">
    <a href="/patrons">Patrons</a>
  </div>
</div>
</footer>
