<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Library Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href=/libraries/index>Libraries</a></li>
        <li><a href="/staff_members/index">Staff</a></li>
        <li><a href="/books/index">Books</a></li>
        <li class="active"><a href="/patrons/index">Patrons</a></li>
      </ul>
    </div>
  </div>
</nav>

<% if @patron.errors.any? %>
  <% @patron.errors.full_messages.each do |m| %>
    <p> Error: <%=m%></p>
  <%end%>
<%end%>

<div class="row">
  <div class="col-md-12 text-center">
    <div class="panel panel-default padding-10">
      <h1><%=@patron.name%></h1>
      <p>Email: <%=@patron.email%></p>
      <p>Books: <%=@patron.books_display%><p>
      <a class="btn btn-default" href="/patron/<%=@patron.id%>/edit">Edit Patron</a>
      <%if @patron.books_display != "None"%>
        <p><a class="btn btn-default" href="/patron/<%=@patron.id%>/checkin">Return a Book</a></p>
      <%end%>
      <p><a class="btn btn-default" href="/patron/<%=@patron.id%>/checkout">Check Out a Book</a></p>
    </div>
  </div>
</div>
